.area-2{
	width: 100%;
}

.painel {
    padding: 30px;
    background-color: #0c0808;
    animation: fade;
	animation-duration: 0.7s;
}

.grid{
	display: grid;
}

.grid-template-columns {
	grid-template-columns: 1fr 1fr 1fr;
}

.grid img{
    height: 730px;
    border-radius: 2.5px 2.5px 2.5px;
    box-shadow: 0 0 0 1.7px #EDCC33;
	
}