body{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-image: url(background.png);
	animation: back 10s  ease infinite;
}


/* BARRA DE NAVEGAÇÃO */
::-webkit-scrollbar{
	width: 8px;
	background-color: #0c0808;
}

::-webkit-scrollbar-button{
	height: 25px;
	background-color: #1818188c;
}

::-webkit-scrollbar-thumb{
	align-items: left;
	width: 7px;
	background-color: #EDCC33;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #ed9c33;
}

/* NAV */

nav {
	animation-name: down;
	animation-duration: 0.2s;
}

.barra{
	background-color: #0c0808;
	overflow: hidden;
	
}

.linkado{
	text-decoration: none;
	color: rgb(241, 241, 241);
	font-size: 25px;
	padding: 20px;
	
}

.linkado:hover{
	color: white;
	text-decoration: none;

}

nav i{
	padding-top: 6px;
	position: absolute;
	right: 3%;
	color: #EDCC33;
	cursor: pointer;
	max-height: 10px;
	max-width: 10px;
	transition: 0.2s;
}

nav i:hover{
	color: #ed9c33;
}

/* SESSAO */

.session{
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding: 20px;
	margin-top: 40px;
	background-color: #0c0808;
	border-radius: 10px 20px 10px;
	color: rgb(215, 215, 215);
	margin-bottom: 70px;
	animation: downSession;
	animation-duration: 0.7s;
}

.session img{
	margin-right: 50px;
	height: 550px;
	width: 450px;
	border-radius: 2.5px 10px 2.5px;
	box-shadow: 0 0 0 1.7px #EDCC33;
	animation: fade;
	animation-duration: 1.5s;
}



.session h1{
	animation: fade;
	animation-duration: 1.5s;
}

.session ul{
	animation: fade;
	animation-duration: 1.5s;
}

.session p{
	animation: fade;
	animation-duration: 1.5s;
}


ul a{
	text-decoration: none;
	color: #EDCC33;
}

ul a:hover{
	text-decoration: none;
	color: #edac33;
}

#listagem{
	display: flow;
}

#sobre{
	padding: 10px;
	padding-bottom: 20px;
	color: #EDCC33;
	font-size: 35px;
}

.botao{
	text-decoration: none;
	padding: 15px;
	background-color: #EDCC33;
	color: rgb(0, 0, 0);
	border-radius: 10px 10px 10px;
	transition: 0.8s;
}

.botao:hover{
	text-decoration: none;
	color: #EDCC33;
	background-color: #0c0808;
	box-shadow: 0 0 0 3px #EDCC33;
}






